.comment-item{
    background-color: #C8C8C8;
    margin: 1rem;
    padding: 0.5rem;
    label{
        font-weight: bold;
        padding-right: 5px;
    }

    a{
        color: #000;
    }
}